<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}我的网页{% endblock %}</title>

    <meta http-equiv="Cache-Control" content="no-store" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}?v={{ v }}">
</head>

<body>

    <header id="header">
        <div style="display:flex; align-items:center; gap:12px; width:100%; max-width:1100px; justify-content:space-between;">
            <div style="font-weight:bold; font-size:18px;">Chen.のhomepage</div>
            <div>
                <a href="/records" class="nav-btn">进入记录页</a>
            </div>
        </div>
    </header>

    {% block content %}{% endblock %}

</body>

</html>